@page "/create-npc"

@using GameTools.BlazorClient.Components.Pages.Partials;
@using GameTools.BlazorClient.Components.Pages.PageModels;
@using GameTools.UI.Components.Wrapper

@inherits PageModels.CreateNpcPageModel;

<div class="@this.ShowForPageState(CreateNpcPageStates.List)">
	<NpcList NewNpcHandler="OnCreateNewClicked"
			 ViewNpcHandler="OnNpcList_ViewClicked"
			 CurrentPageState="@this.PageState"
			 NpcNotifier="@this.NpcEventNotifier"/>
</div>

<div class="@this.ShowForPageState(CreateNpcPageStates.Preview)">
	<SelectNpcOptions SelectableOptions="@this.SelectableNpcOptions"
					  UserOptions="@this.UserOptions"
					  GenerateNpc_Clicked="OnRerollClicked"
					  NpcNotifier="NpcEventNotifier"/>

	<ViewNpcAttributes UseMetric="@false"
					   CurrentNpc="@this.CurrentNpc"
					   GenerateAi_Clicked="OnAiDescriptionRequested"
					   NpcNotifier="NpcEventNotifier" />
</div>

<div class="@this.ShowForPageState(CreateNpcPageStates.Details)">

		<ViewNpcDetails UseMetric="@false"
						CurrentNpc="@this.CurrentNpc"
						SaveNpc_Clicked="OnSaveNpc"
						ShowList_Clicked="OnShowList_Clicked"/>

</div>

@* <div class="row">
	<button class="btn btn-outline-secondary" @onclick="OnStartOverClicked">Start Over</button>
</div> *@
