@page "/create-npc"

@using GameTools.BlazorClient.Components.Pages.Partials;
@using GameTools.BlazorClient.Components.Pages.PageModels;
@using GameTools.UI.Components.Wrapper

@inherits PageModels.CreateNpcPageModel;

@if (PageState != CreateNpcPageStates.List)
{
	<header>
		<heading>Manage NPCs</heading>
		<nav>
			<button class="btn btn-secondary"
			@onclick="OnShowList_Clicked">
				Back to List
			</button>
		</nav>
	</header>
}
<main>
	<NpcList NewNpcHandler="OnCreateNewClicked"
			ViewNpcHandler="OnNpcList_ViewClicked"
			CurrentPageState="@this.PageState"
			Visibility="@this.ShowForPageState(CreateNpcPageStates.List)"
			NpcNotifier="@this.NpcEventNotifier"/>

<div class="@this.ShowForPageState(CreateNpcPageStates.Preview)">
	<SelectNpcOptions SelectableOptions="@this.SelectableNpcOptions"
					  UserOptions="@this.UserOptions"
					  GenerateNpc_Clicked="OnRerollClicked"
					  NpcNotifier="NpcEventNotifier"/>

	<ViewNpcAttributes UseMetric="@false"
					   CurrentNpc="@this.CurrentNpc"
					   Visibility="@this.ShowForPageState(CreateNpcPageStates.Preview)"
					   GenerateAi_Clicked="OnAiDescriptionRequested"
					   NpcNotifier="NpcEventNotifier" />
</div>

	<ViewNpcDetails UseMetric="@false"
					CurrentNpc="@this.CurrentNpc"
					Visibility="@this.ShowForPageState(CreateNpcPageStates.Details)"
					SaveNpc_Clicked="OnSaveNpc"/>
</main>
<footer class="hidden"></footer>
@* <div class="row">
	<button class="btn btn-outline-secondary" @onclick="OnStartOverClicked">Start Over</button>
</div> *@
