@page "/NPCs"
@inherits NpcGeneratorComponent
@rendermode InteractiveServer
@using GameTools.Framework.Converters;

<PageTitle>Generate an NPC</PageTitle>

<div class="row">
    <h3 class="col-sm-12 col-md-8">NPC Generator</h3>
    <button class="col-sm-12 col-md-4 btn btn-primary" @onclick="GenerateNpc">Do another one!</button>
</div>
<hr />

@if(this.NPC.NpcName != string.Empty)
{
    <h3>Name:  @this.NPC.NpcName</h3>
}
<h4>Species: @this.NPC.Species</h4>
<p>Gender:  @this.NPC.Gender (@this.NPC.Pronouns)</p>
<p>Age: @this.NPC.Age</p>
<p>Height: @this.NPC.Height  Weight: @this.NPC.Weight</p>
<hr />
<h4>Appearance</h4>
@if(this.NPC.GenAppearance != string.Empty)
{
    <p>@this.NPC.GenAppearance</p>
} else
{
    <p>@this.NPC.Appearance</p>
}
<hr />

@if (this.NPC.PersonalityDescription != string.Empty)
{
    <h4>Personality</h4>
    <p>@this.NPC.PersonalityDescription</p>
}

<h4>Profession</h4>
@if(this.NPC.GenProfession != string.Empty)
{
    <p>@this.NPC.GenProfession</p>
} 
else
{
    <p>@this.NPC.Profession</p>
}
<hr />
<h4>Background</h4>
@if(this.NPC.GenHistory != string.Empty)
{
    <p>@this.NPC.GenHistory</p>
}
else
{
    <p>@this.NPC.History</p>
}

<hr />


<div class="row">
    <h4 class="col-sm-12 col-md-8">Description</h4>
    <button class="col-sm-12 col-md-4 btn btn-primary"
            @onclick="OnAiButtonClick">
        Generate AI Description
    </button>
</div>
<div class="row">
    <p style="border:solid 1px black;">@this.NPC.TextDescription</p>
</div>