@page "/NPCs"
@rendermode InteractiveServer
@using GameTools.BlazorClient.Services;
@using GameTools.Framework.Converters;
@inject NpcViewModelManager vmMgr;

@using GameTools.API.WorkloadProvider
@inject ICharacterWorkloads _charGen;

<PageTitle>Generate an NPC</PageTitle>

<h3>Here's a completely random NPC.</h3>
<button @onclick="GenerateNpc">Do another one!</button>
<hr />
<h4>Species: @this._npcModel.Species</h4>
<p>Gender:  @this._npcModel.Gender (@this._npcModel.Pronouns)</p>
<p>Age: @this._npcModel.Age</p>
<p>Height: @this._npcModel.HeightCm.AsFeetInches()  Weight: @this._npcModel.WeightKg.AsPounds()</p>
<p>@this._npcModel.Appearance</p>
<hr />
<p>Background:  @this._npcModel.History</p>
<hr />
<p>Profession: @this._npcModel.Profession</p>

@code {

    private string _npc = string.Empty;

    private DisplayNPCViewModel _npcModel = new DisplayNPCViewModel();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GenerateNpc();
    }

    private void GenerateNpc()
    {
        DisplayNPCViewModel npcViewModel = vmMgr.GenerateRandomNPC();
        _npcModel = npcViewModel;
    }
}
