@using ThatDeveloperDad.Framework.Converters;


<div class="row">
	<h4 class="col-9">Townsfolk Index</h4>
	<button class="col-3 btn btn-primary @ShowCreateButton.AsString("shown", "hidden")" 
			style="margin-bottom: 2px;"
			@onclick="OnNewNpcClicked">
		Create
	</button>
</div>
<div class="npc-list">
	@if(FilteredNpcs.Any())
	{
		foreach(var npc in FilteredNpcs)
		{
			<div class="row npc-list-item">
				<div class="col-10">
					<span class="npc-name-label">@npc.Name</span><br/>
					<span class="npc-list-detail">@npc.Species @npc.Vocation</span>
				</div>
				<button class="col-2 btn btn-secondary @(ShowViewNpcButton.AsString("shown", "hidden"))"
						@onclick="() => OnViewNpcClicked(npc.NpcId)">View</button>
			</div>
		}
	}
	else
	{	
		<p>@EmptyTableText</p>			
	}
</div>
