@using ThatDeveloperDad.Framework.Converters;

<div class="task-host @this.Visibility">
<header>
	<heading>Non-Player Characters</heading>
	<button class="@ShowCreateButton.AsString("shown", "hidden")" 
			@onclick="OnNewNpcClicked">
			<span class="icon icon-potion-light"></span><span>New NPC</span>
	</button>
</header>
<main>
	@if(FilteredNpcs.Any())
	{
		<div class="npc-list">
		@foreach(var npc in FilteredNpcs)
		{
			<div class="npc-list-item">
				<div class="npc-list-item-data">
					<span class="npc-name-label">@npc.Name</span>
					<span class="npc-list-detail">@npc.Species @npc.Vocation</span>
				</div>
				<div class="npc-list-item-actions">
					<button class="@(ShowViewNpcButton.AsString("shown", "hidden"))"
							@onclick="() => OnViewNpcClicked(npc.NpcId)">
						<span class="icon icon-crystalball-light"></span><span>View</span>
					</button>
				</div>
			</div>
		}
		</div>
	}
	else
	{	
		<p>@EmptyTableText</p>			
	}
</main>
<footer>
	<UsageInformation />
</footer>
</div>