@using ThatDeveloperDad.Framework.Converters

<div class="row">
	<heading class="col-9">Select Npc Options Is This Used???? </heading>
	<button class="btn btn-secondary col-3" @onclick="ToggleOptionPanel">@ToggleText</button>
</div>
<div class="row @ShowOptionsPanel.AsString("shown", "hidden")">
	
	<div class="col-xs-12 col-md-4 form-group">
		<label class="col-md-12 col-sm-3  form-label">Species</label>
		<select @bind="@Species" class="col-md-12 col-sm-9 form-select">
			<option value="">random</option>
			@foreach (var species in SelectableOptions["Species"])
			{
				<option value="@species">@species</option>
			}
		</select>
	</div>
		
	<div class="col-xs-12 col-md-4">
		<label class="form-label">Background</label>
		<select @bind="@Background" class="form-select">
			<option value="">random</option>
			@foreach (var background in SelectableOptions["Background"])
			{
				<option value="@background">@background</option>
			}
		</select>
	</div>

	<div class="col-xs-12 col-md-4">
		<label class ="form-label">Profession</label>
		<select @bind="@Vocation" class="form-select">
			<option value="">random</option>
			@foreach (var vocation in SelectableOptions["Vocation"])
			{
				<option value="@vocation">@vocation</option>
			}
		</select>
		<label class="form-label">Retired?</label><input type="checkbox" @bind="@IsRetired" style="form-control"/>
	</div>
</div>

@if(this.IsRerollVisible)
{
	<div class="row">
		<button class="col-sm-12 col-md-6 btn btn-primary"
				@onclick="OnCreateNpcClick">
			Generate!
		</button>
	</div>
}