@using ThatDeveloperDad.Framework.Converters
@using GameTools.BlazorClient.Middleware

<div class="task-host @this.Visibility">
    <header>
        <heading>
            
                <span>Create new NPC</span>
                <button class="btn btn-secondary" @onclick="ToggleOptionPanel">@ToggleText</button>
        </heading>
        <div class=" @ShowOptionsPanel.AsString("options-panel", "hidden")">
			<div class="form-group">
				<label class="form-label">Profession</label>
				<select @bind="@SelectedVocation" class="form-select">
					<option value="">Roll !!</option>
					@foreach (var choice in SelectableOptions["Vocation"])
					{
						<option value="@choice">@choice</option>
					}
				</select>
				<label class="form-label">Are they retired?</label>
				<div class="radio-button-list">
					<input type="radio" 
						   id="IsRetired"
						   checked="@(IsRetired == false)"
						   @onchange="@(() => IsRetired = false)" /><label>No</label>
					<input type="radio"
						   id="IsRetired"
						   checked="@(IsRetired == true)"
						   @onchange="@(() => IsRetired = true)" /><label>Yes</label>
					<input type="radio"
						   id="IsRetired"
						   checked="@(IsRetired == null)"
						   @onchange="@(() => IsRetired = null)" /><label>Roll !!</label>
				</div>
			</div>

			<div class="form-group">
				<label class="form-label">Background</label>
				<select @bind="@SelectedBackground" class="form-select">
					<option value="">Roll !!</option>
					@foreach (var choice in SelectableOptions["Background"])
					{
						<option value="@choice">@choice</option>
					}
				</select>
			</div>

			<div class="form-group">
				<label class="form-label">Species</label>
				<select @bind="@SelectedSpecies" class="form-select">
					<option value="">Roll !!</option>
					@foreach (var choice in SelectableOptions["Species"])
					{
						<option value="@choice">@choice</option>
					}
				</select>
			</div>
		</div>

		@if(this.IsRerollVisible)
		{
			<button @onclick="OnCreateNpcClick">
				<span class="icon icon-d20-light"></span>
				<span>Roll Those Dice!</span>
				<span class="icon icon-d20-light"></span>
			</button>
		}
    </header>
    <main>
        <heading>Species: @Species</heading>
        <p>Gender:  @Gender (@Pronouns)</p>
        <p>Age: @Age</p>
        <p>Height: @Height  Weight: @Weight</p>
        <hr />
        <heading>Appearance</heading>
        <p>@Appearance</p>
        <heading>Profession</heading>
        <p>@Profession</p>
        <heading>History</heading>
        <p>@History</p>
        <hr />
    </main>
    <footer>
		<nav>
			@if(SaveButtonIsHandled)
			{
				<button @onclick="OnSaveButtonClick">
					<span class="icon icon-scroll-light"></span><span>Save NPC</span>
				</button>
			}
			<AuthorizeView Policy=@AuthZConstants.pol_PaidUsers>
				@if (AiButtonIsHandled)
			{
				<button @onclick="OnAiButtonClick">
						<span class="icon icon-think-light"></span><span>Generate AI Description</span>
				</button>
			}
			</AuthorizeView>
		</nav>
    </footer>
</div>


