@using ThatDeveloperDad.Framework.Converters
@using GameTools.BlazorClient.Middleware

<div class="task-host">
    <header>
        <heading>
            
                <span>Select Npc Options</span>
                <button class="btn btn-secondary" @onclick="ToggleOptionPanel">@ToggleText</button>
        </heading>
        <div class=" @ShowOptionsPanel.AsString("options-panel", "hidden")">
	
			<div class="form-group">
				<label class="form-label">Species</label>
				<select @bind="@SelectedSpecies" class="form-select">
					<option value="">random</option>
					@foreach (var choice in SelectableOptions["Species"])
					{
						<option value="@choice">@choice</option>
					}
				</select>
			</div>
		
			<div class="form-group">
				<label class="form-label">Background</label>
				<select @bind="@SelectedBackground" class="form-select">
					<option value="">random</option>
					@foreach (var choice in SelectableOptions["Background"])
					{
						<option value="@choice">@choice</option>
					}
				</select>
			</div>

			<div class="form-group">
				<label class ="form-label">Profession</label>
				<select @bind="@SelectedVocation" class="form-select">
					<option value="">random</option>
					@foreach (var choice in SelectableOptions["Vocation"])
					{
						<option value="@choice">@choice</option>
					}
				</select>
				<label class="form-label">Retired?</label><input type="checkbox" @bind="@IsRetired" style="form-control"/>
			</div>
		</div>

		@if(this.IsRerollVisible)
		{
			<button class="btn btn-primary"
					@onclick="OnCreateNpcClick">
				Roll Those Dice!
			</button>
		}
    </header>
    <main>
        <heading>Species: @Species</heading>
        <p>Gender:  @Gender (@Pronouns)</p>
        <p>Age: @Age</p>
        <p>Height: @Height  Weight: @Weight</p>
        <hr />
        <heading>Appearance</heading>
        <p>@Appearance</p>
        <heading>Profession</heading>
        <p>@Profession</p>
        <heading>History</heading>
        <p>@History</p>
        <hr />
    </main>
    <footer>
		<nav>
			@if(SaveButtonIsHandled)
			{
				<button class="btn btn-primary"
					@onclick="OnSaveButtonClick">
					Save NPC
				</button>
			}
			<AuthorizeView Policy=@AuthZConstants.pol_PaidUsers>
				@if (AiButtonIsHandled)
			{
				<button class="btn btn-primary"
						@onclick="OnAiButtonClick">
					Generate AI Description
				</button>
			}
			</AuthorizeView>
		</nav>
    </footer>
</div>


