@if (NpcName != string.Empty)
{
    <h3>Name:  @NpcName</h3>
}
<h4>Species: @Species</h4>
<p>Gender:  @Gender (@Pronouns)</p>
<p>Age: @Age</p>
<p>Height: @Height  Weight: @Weight</p>
<hr />
<h4>Appearance</h4>
@if (DetailedAppearance != string.Empty)
{
    <p>@DetailedAppearance</p>
}
else
{
    <p>@Appearance</p>
}
<hr />

@if (PersonalityDescription != string.Empty)
{
    <h4>Personality</h4>
    <p>@PersonalityDescription</p>
}

<h4>Profession</h4>
@if (DetailedProfession != string.Empty)
{
    <p>@DetailedProfession</p>
}
else
{
    <p>@Profession</p>
}
<hr />
<h4>Background</h4>
@if (DetailedHistory != string.Empty)
{
    <p>@DetailedHistory</p>
}
else
{
    <p>@History</p>
}