<div class="task-host @this.Visibility">
    <header>
        @if (NpcName != string.Empty)
        {
            <heading>Name:  @NpcName</heading>
        }
        <heading>Species: @Species</heading>
    </header>
    <main>
        <p>Gender:  @Gender (@Pronouns)</p>
        <p>Age: @Age</p>
        <p>Height: @Height  Weight: @Weight</p>
        <hr />
        <heading>Appearance</heading>
        @if (DetailedAppearance != string.Empty)
        {
            <p>@DetailedAppearance</p>
        }
        else
        {
            <p>@Appearance</p>
        }
        <hr />

        @if (PersonalityDescription != string.Empty)
        {
            <heading>Personality</heading>
            <p>@PersonalityDescription</p>
        }

        <heading>Profession</heading>
        @if (DetailedProfession != string.Empty)
        {
            <p>@DetailedProfession</p>
        }
        else
        {
            <p>@Profession</p>
        }
        <hr />
        <heading>Background</heading>
        @if (DetailedHistory != string.Empty)
        {
            <p>@DetailedHistory</p>
        }
        else
        {
            <p>@History</p>
        }
    </main>
    <footer>
        <nav>
            @if (IsSaveButtonVisible)
            {
                <button class="btn btn-primary"
                        @onclick="OnSaveNpcClicked">
                    Save Townsperson
                </button>   
            }
            
        </nav>
    </footer>
</div>






